form div {
    padding-top: 10px;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #121212;
    color: white;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    /* align-items: center; */
    /* justify-content: center; */
}

form {
    text-align: center;
    margin: auto;
    border-style: inset;
    border-color: cadetblue;
    width: 400px;
    padding-bottom: 10px;
}

#map {
    margin-left: auto;
    margin-right: auto;
}

#lieu_de_naissance {
    width: 100px;
}

#btn_toggle_hide {
    margin-top: 20px;
}

#rayon_distance {
    margin-top: 10px;
    width: 60px;
}

#adresse_générée {
    text-align: center;
    display: block;
}

#liste_adresses {
    display: none;
}

#refresh_position {
    margin-top: 30px;
}

#génération_adresse, #btn_gen_pdf {
    margin-top: 10px;
}

input[type=text], input[type=date] {
    background-color: #000;
    color: white;
}

#all_in_one_button {
    background-color: limegreen;
    margin-top: 30px;
}

input[type=button], input[type=reset], input[type=submit], button {
    max-width: 300px !important;
    /* width: 150px !important; */
    height: 30px !important;
    width: 100% !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 480px) {
    body {
        /* background-color: rgb(22, 132, 175); */
        width: 90vw;
        height: 90vh;
        /* margin-left: auto;
                margin-right: auto; */
        /* border: groove black; */
    }
    #map {
        width: 70%;
        height: 100vh;
        max-height: 500px;
    }
}

@media all and (max-device-width: 480px) {
    /* For mobile phones: */
    body, button, input[type=submit] {
        font-size: xx-large;
    }
    form {
        width: 100%;
        padding-left: 15px;
        padding-right: 20px;
        border-width: 20px;
    }
    form input[type=submit] {
        margin-top: 20px;
    }
    #refresh_position, #génération_adresse, #btn_gen_pdf {
        margin-top: 50px;
    }
    input[type=text], input[type=date], input[type=number], #lieu_de_naissance {
        /* background-color: rgb(158, 57, 57); */
        /* color: rgb(0, 0, 0); */
        font-size: xx-large;
        width: 100%;
        height: 60px;
    }
    input[type=button], input[type=reset], input[type=submit], input[type=number], button {
        max-width: 100% !important;
        /* width: 150px !important; */
        height: 100px !important;
        width: 90vw !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #map {
        /* width: 80%; */
        /* height: 100vh; */
        max-height: 500px;
    }
}